/* FONTS */
@font-face {
    font-family: nike;
    src: url(./fonts/Futura\ Bold/);
}


/* GENERALES */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: linear-gradient(to right, #ff8647, #fdad69, #ffdd90);
    display: flex;
    justify-content: center;
    align-items: center;

}

#wrap {
    width: 95%;
    max-width: 1200px;
    min-height: 550px;
    height: auto;
    background: linear-gradient(to top,#e75870, #ef3993,#e92e9e);
    box-shadow: 20px 20px 30px #4e3b24;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

   /*  display: flex;
    justify-content: center;
    align-items: center; */
}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header #logo{
    flex-basis: 20%;
}

header #medio{
    flex-basis: 60%;
}

header #menu{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: white;
}

header #menu span{
    font-size: 40px;
}

header #logo img{
    width: 110px;
    padding-left: 112px;
}